.landing-character-bg {
  background-image: url(../../../assets/image/landing/characters/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.character-preview {
  border-radius: 10% 0 10% 0;
}
