html {
  scroll-behavior: smooth;
}

.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.custom-footer {
  background-image: url(./assets/image/landing/footer/rat.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@font-face {
  font-family: "Header Title";
  src: url(./assets/font/angela.otf);
}

.display-2 {
  font-family: Header Title;
}

.title-font {
  font-family: Header Title;
  -webkit-text-stroke: 3px black;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.trans-all {
  transition: all 1s;
}

@media (min-width: 1200px) {
  .gamemode-active {
    font-size: 60px;
  }
  .gamemode-card {
    height: 65vh;
  }
  .bigW-15 {
    width: 15%;
  }
  .bigW-90 {
    width: 90%;
  }
  .header-dl {
    width: 350px;
  }
  .header-icon {
    font-size: 35px;
  }
  .title-font {
    font-size: 7.5vw;
  }
  .flexible-height {
    height: 100vh;
  }
}

@media (max-width: 1199.98px) {
  .gamemode-active {
    font-size: 40px;
  }
  .gamemode-card {
    height: 25vh;
  }
  .sm-none {
    display: none;
  }
  .bigW-90 {
    width: 100%;
  }
  .header-dl {
    width: 30vw;
  }
  .header-icon {
    font-size: 30px;
  }
  .title-font {
    font-size: 10vw;
  }
  .flexible-height {
    height: fit-content;
  }
  .display-2 {
    font-size: 7.5vw;
  }
}

@media (max-width: 550px) {
  .gamemode-active {
    font-size: 30px;
  }
  .gamemode-card {
    height: 20vh;
  }
  .sm-none {
    display: none;
  }
  .bigW-90 {
    width: 100%;
  }
  .header-dl {
    width: 50%;
  }
  .header-icon {
    font-size: 20px;
  }
  .title-font {
    font-size: 12.5vw;
  }
  .flexible-height {
    height: fit-content;
  }
  .display-2 {
    font-size: 12.5vw;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  scrollbar-color: #ffbb33 #f5f5f5;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ffbb33;
}
