html {
  scroll-behavior: smooth;
}

.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.custom-footer {
  background-image: url(./assets/image/landing/footer/rat.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@font-face {
  font-family: "Header Title";
  src: url(./assets/font/angela.otf);
}

@font-face {
  font-family: "Navbar Title";
  src: url(./assets/font/Walleye-Bold.ttf);
}

.navbar-buttons {
  font-family: Navbar Title;
}

.display-2 {
  font-family: Header Title;
}

.title-font {
  font-family: Header Title;
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.trans-all {
  transition: all 1s;
}

@media (min-height: 701px) {
  .character-active-slide {
    height: auto;
    width: 80%;
  }
}

@media (max-height: 700px) {
  .character-active-slide {
    height: 90%;
    width: auto;
  }
}

.logo-icon {
  height: auto;
  position: absolute;
}

@media (min-width: 1200px) {
  .logo-icon {
    top: -35px;
    left: 0;
  }
  .logo-width {
    width: 25rem;
  }

  .news-highlight {
    height: 60vh;
    width: 60vh;
  }

  .news-1 {
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .news-2 {
    position: absolute;
    left: -7.5%;
  }

  .news-3 {
    position: absolute;
    bottom: 10%;
    left: 5%;
  }

  .news-dot {
    width: 100px;
    height: 100px;
  }

  .characters-carousel {
    height: 65vh;
  }
  .highlight-body {
    padding-bottom: 5%;
  }
  .news-card {
    height: 65vh;
    overflow: auto;
  }
  .gamemode-active {
    font-size: 60px;
  }
  .gamemode-card {
    height: 65vh;
  }
  .bigW-50 {
    width: 50%;
  }
  .bigW-90 {
    width: 90%;
  }
  .header-dl {
    width: 350px;
  }
  .header-icon {
    font-size: 35px;
  }
  .title-font {
    font-size: 5.5vw;
    -webkit-text-stroke: 3px black;
  }
  .flexible-height {
    height: 100vh;
  }
}

@media (max-width: 1199.98px) {
  .logo-icon {
    top: -25px;
    left: 0;
  }

  .logo-width {
    width: 30vw;
  }

  .news-highlight {
    height: 50vh;
    width: 50vh;
  }

  .news-1 {
    position: absolute;
    top: 7.5%;
    left: 0%;
  }

  .news-2 {
    position: absolute;
    left: -12.5%;
  }

  .news-3 {
    position: absolute;
    bottom: 7.5%;
    left: 0%;
  }

  .news-dot {
    width: 75px;
    height: 75px;
  }

  .gamemode-active {
    font-size: 40px;
  }
  .gamemode-card {
    height: 45vh;
  }
  .sm-none {
    display: none;
  }
  .bigW-90 {
    width: 100%;
  }
  .header-dl {
    width: 30vw;
  }
  .header-icon {
    font-size: 30px;
  }
  .title-font {
    font-size: 5vw;
    -webkit-text-stroke: 1px black;
  }
  .flexible-height {
    height: fit-content;
  }
  .display-2 {
    font-size: 7.5vw;
  }
}

@media (max-width: 550px) {
  .logo-width {
    width: 12.5rem;
  }

  .news-highlight {
    height: 60vw;
    width: 60vw;
  }

  .news-1 {
    position: absolute;
    top: 5%;
    left: 2.5%;
  }

  .news-2 {
    position: absolute;
    left: -12.5%;
  }

  .news-3 {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
  }

  .gamemode-active {
    font-size: 30px;
  }
  .gamemode-card {
    height: 35vh;
  }
  .sm-none {
    display: none;
  }
  .bigW-90 {
    width: 100%;
  }
  .header-dl {
    width: 50%;
  }
  .header-icon {
    font-size: 20px;
  }
  .flexible-height {
    height: fit-content;
  }
  .display-2 {
    font-size: 12.5vw;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  scrollbar-color: #ffbb33 #f5f5f5;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ffbb33;
}
